<a href="https://colab.research.google.com/github/Adriano181/folio/blob/main/LECTURA_DElARCHIVO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LECTURA DEL ARCHIVO

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Archivo cargado en el entorno

In [14]:
df=pd.read_csv("DatosVentas.csv",sep=",")
print(df.head(5))

   ProductoID  Producto Categoria  PrecioUnitario
0           1  Manzanas    Frutas            1.70
1           2     Peras    Frutas            2.96
2           3  Naranjas  Verduras            1.54
3           4   Bananas  Verduras            2.43
4           5  Manzanas  Verduras            2.85

ARCHIVO CARGO EN DRIVE

In [15]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: Error: credential propagation was unsuccessful

In [10]:
ruta_archivo="/content/drive/MyDrive/ARCHIVOS/DatosVentas.csv"

In [2]:
# crear  ruta de archivo

ruta_archivo="/content/drive/MyDrive/ARCHIVOS/DatosVentas.csv"

In [3]:
#acceder archivo
df1=pd.read_csv(ruta_archivo)

In [6]:
#archivo cargado URL

url ="https://drive.usercontent.google.com/u/0/uc?id=1NRcWIUhfKWx0bXurASUKI7Uupl-EU0md&export=download"

df2=pd.read_csv(url)

print(df2.head())

   ProductoID  Producto Categoria  PrecioUnitario
0           1  Manzanas    Frutas            1.70
1           2     Peras    Frutas            2.96
2           3  Naranjas  Verduras            1.54
3           4   Bananas  Verduras            2.43
4           5  Manzanas  Verduras            2.85

In [20]:
#select "columan1 " from table

print(df["ProductoID"])

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
Name: ProductoID, dtype: int64

In [23]:
#select "columan1 ", colum2  from table

print(df[["ProductoID", "Producto", "PrecioUnitario"]])

    ProductoID  Producto  PrecioUnitario
0            1  Manzanas            1.70
1            2     Peras            2.96
2            3  Naranjas            1.54
3            4   Bananas            2.43
4            5  Manzanas            2.85
5            6     Peras            4.20
6            7  Naranjas            3.39
7            8   Bananas            2.16
8            9  Manzanas            3.35
9           10     Peras            3.27
10          11  Naranjas            3.22
11          12   Bananas            2.76
12          13  Manzanas            4.27
13          14     Peras            2.79
14          15  Naranjas            2.96
15          16   Bananas            2.50
16          17  Manzanas            3.57
17          18     Peras            1.51
18          19  Naranjas            2.91
19          20   Bananas            2.08

In [24]:
#where  "columna"=valor
print(df[df["ProductoID"]=="manzanas"])

Empty DataFrame
Columns: [ProductoID, Producto, Categoria, PrecioUnitario]
Index: []

In [ ]:
# where "colummna"

In [25]:
#aplciando filtro 2
#categoria verduras
#precio unitario>2.5
#and
df[(df["Categoria"]=="Verduras") & (df["PrecioUnitario"]>2.5)]

#or


df[(df["Categoria"]=="Verduras") | (df["PrecioUnitario"]>2.5)]

    ProductoID  Producto Categoria  PrecioUnitario
1            2     Peras    Frutas            2.96
2            3  Naranjas  Verduras            1.54
3            4   Bananas  Verduras            2.43
4            5  Manzanas  Verduras            2.85
5            6     Peras    Frutas            4.20
6            7  Naranjas  Verduras            3.39
8            9  Manzanas  Verduras            3.35
9           10     Peras    Frutas            3.27
10          11  Naranjas    Frutas            3.22
11          12   Bananas  Verduras            2.76
12          13  Manzanas    Frutas            4.27
13          14     Peras    Frutas            2.79
14          15  Naranjas    Frutas            2.96
16          17  Manzanas    Frutas            3.57
18          19  Naranjas    Frutas            2.91

In [26]:
#oder by

print(df.sort_values(by="PrecioUnitario",ascending=False))

    ProductoID  Producto Categoria  PrecioUnitario
12          13  Manzanas    Frutas            4.27
5            6     Peras    Frutas            4.20
16          17  Manzanas    Frutas            3.57
6            7  Naranjas  Verduras            3.39
8            9  Manzanas  Verduras            3.35
9           10     Peras    Frutas            3.27
10          11  Naranjas    Frutas            3.22
1            2     Peras    Frutas            2.96
14          15  Naranjas    Frutas            2.96
18          19  Naranjas    Frutas            2.91
4            5  Manzanas  Verduras            2.85
13          14     Peras    Frutas            2.79
11          12   Bananas  Verduras            2.76
15          16   Bananas    Frutas            2.50
3            4   Bananas  Verduras            2.43
7            8   Bananas    Frutas            2.16
19          20   Bananas    Frutas            2.08
0            1  Manzanas    Frutas            1.70
2            3  Naranjas  Verduras            1.54
17          18     Peras    Frutas            1.51

In [27]:
#group by

print(df.groupby("Categoria")["PrecioUnitario"].mean())

Categoria
Frutas      2.864286
Verduras    2.720000
Name: PrecioUnitario, dtype: float64

In [33]:
#count la cantidad de datos tienes la tabla (*)
print("Longitud con len: ",len(df))

#longitud con shape

print("Longitud con shape: ",df.shape)

Longitud con len:  20
Longitud con shape:  (20, 4)

In [ ]:
#informacion de la tabla

In [34]:
#datos estadisticos
#media
print(df["PrecioUnitario"].mean())

2.8209999999999993

In [35]:
#mediana
print(df["PrecioUnitario"].median())

2.88

In [37]:
#moda en variable numerica

print(df["PrecioUnitario"].mode())

0    2.96
Name: PrecioUnitario, dtype: float64

In [38]:
#moda en variable stream

print(df["Producto"].mode())

0     Bananas
1    Manzanas
2    Naranjas
3       Peras
Name: Producto, dtype: object

In [39]:
#moda en variable producto que mas se vende

print(df["Producto"].mode()[0])

Bananas